.containerPrincipal{
    background-color: rgb(255, 255, 255);
    height: 90vh;
}

.containerSlogan{
    position: absolute;
    top: 50%;
    margin-left: 3%;
    font-size: 240%;
}
.barraInferior{
    background-color: orange;
    height: 20%;
    width: 100%;
    position: absolute;
    top: 80%;
}

 /* Estilos para el fondo oscuro difuminado */
 #cookie-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Fondo oscuro difuminado */
    z-index: 9999;
}
/* Estilos para la ventana emergente de cookies */
#cookie-popup {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto; /* Aumenta la altura de la ventana emergente */
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    z-index: 10000;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Alinea el texto en la parte inferior */
}
#cookie-popup button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}   